@import "tailwindcss";
@import "uniwind";
@import "heroui-native/styles";

@source "./node_modules/heroui-native/lib";

@layer theme {
	@variant light {
    --background: oklch(0.9581 0 0); 
  }

   @variant dark {
       --background: oklch(0.9581 0 0); 
  }
}

@theme inline {
    --secondary: oklch(0.9821 0 0);
}